section.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  div.text {
    margin: 10px;
    box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.5);
    h4 {
      font-size: 1.5rem;
      margin: 10px;
    }
    p {
      margin: 20px;
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
  div.pic {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      font-size: 1.5rem;
      text-align: center;
    }
    img {
      border-radius: 20px;
    }
  }
}

@media screen and (max-width: 770px) {
  section.about {
    div.text {
      h4 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
        line-height: 2;
      }
    }
    div.pic {
      img {
        width: 80%;
      }
    }
  }
}
