* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html, body {
  height: 100%;
}

// footer 置底
body {
  display: flex; 
  flex-direction: column; 
}
main {
  flex-grow: 1; 
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 1px 1px rgb(162, 162, 162);
  .logo {
    display: flex;
    align-items: center;
    flex: 5 2 200px;
    margin-left: 2rem;
    img {
      width: 4vw;
      height: 4vw;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: rgb(32, 133, 77);
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            display: block;
            color: rgb(231, 87, 25);
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf1f1;
  width: 100%;
    div.logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 5px 0rem;
      img {
        width: 3vw;
        height: 3vw;
      }
      h5 {
        font-size: 1.2rem;
      }
    }
    nav.header {
      width: 50%;
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 5px;
        li {
          a {
            font-size: 1rem;
            text-decoration: none;
            color: black;
            margin: 5px;
          }
          a:hover {
            color: green;
          }
        }
      }
    }
    p {
      font-size: 0.8rem;
      text-align: center;
      margin: 5px;
    }
}


@media screen and (max-width: 770px) {
  main {
    section.second {
      section.cards {
        div.card {
          img {
            width: 20vw;
            height: 20vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  header {
    div.logo {
      img {
        width: 10vw;
        height: 10vw;
      }
    }
  }
  footer {
    div.logo {
      img {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

  main {
    section.about {
      div {
        img {
          width: 20vw;
        }
      }
    }
  }

