* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px 1px #a2a2a2;
          box-shadow: 1px 1px 1px 1px #a2a2a2;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 2 200px;
          flex: 5 2 200px;
  margin-left: 2rem;
}

header .logo img {
  width: 4vw;
  height: 4vw;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li a {
  color: #20854d;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header nav ul li a:hover {
  display: block;
  color: #e75719;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf1f1;
  width: 100%;
}

footer div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0rem;
}

footer div.logo img {
  width: 3vw;
  height: 3vw;
}

footer div.logo h5 {
  font-size: 1.2rem;
}

footer nav.header {
  width: 50%;
}

footer nav.header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
}

footer nav.header ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  margin: 5px;
}

footer nav.header ul li a:hover {
  color: green;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
  margin: 5px;
}

@media screen and (max-width: 770px) {
  main section.second section.cards div.card img {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (max-width: 770px) {
  header div.logo img {
    width: 10vw;
    height: 10vw;
  }
  footer div.logo img {
    width: 4vw;
    height: 4vw;
  }
}

main section.about div img {
  width: 20vw;
}
/*# sourceMappingURL=style.css.map */